h1 {
    text-align: center;
}

body {
    font-size: 1.25em;
}

.card {
    border: 2px dashed rgb(223, 255, 80);
    width: 99%;
    height: 20%;
    margin: 0.2em;
    padding: 0.2em;
}

.photo {
    border: 1px solid grey;
    width: 95%;
    height: auto;
    margin: 0.5em;
}

.name {
    /* border: 1px solid blue; */
    width: auto;
    margin: 0.5em;
    padding: 0.5em;
}