.card {
    border: 2px solid coral;
    width: 400px;
    height: 20%;
    margin: 0.2em;
    padding: 0.2em;
}

.photo {
    border: 1px solid grey;
    max-width: 90%;
    height: auto;
    margin: 0.5em;
}

.name {
    /* border: 1px solid blue; */
    width: auto;
    margin: 0.5em;
    padding: 0.5em;
}